*,*::before,*::after{
  box-sizing: border-box;
}
:root{
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: var(--system-ui);
  color: rgba(173,124,9);
}
main{
  width: 50vw;
  height: 90vh;
  position: relative;
}
.sidebar{
  background: url('assets/nature-form.jpg');
  position: absolute;
  height: 100%;
  width: 30%;
  top:0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.form{
  right:0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 70%;
  background: rgba(236,240,218,.2);
  margin-left: 20px;
}
.title{
  top:125px;
  position: absolute;
  margin: 10px;
}
.form-group{
  appearance: none;
  background: #fff;
  width: 100%;
  padding: 25px;
  box-shadow: 1px 2px 15px #c3c4b6;
  display: flex;
  flex-direction: column;
}
input[type="password"]:invalid{
  border: 1px solid red;
}

.exsist{
  align-self: flex-start;
  margin-top: 85px;
  position: absolute;
  top: calc(100% - 30%);

}
.input-groups{
  display: flex;
  flex-flow: row wrap;
}
input{
  border-radius: 5px;
  border: 1px solid rgb(241,180,9);
}
div div{
  margin: 10px;
  display: grid;
}
button{
  position: absolute;
  left: 3px;
  top: calc(100% - 30%);
  background: rgba(240,191,76);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 22px;
}
.image{
  position: relative;
  background-color: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}
.image::after{
  content: " SHY FOX ";
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-style: oblique;
}
img{
  width: calc(100% - 90%);
  height: calc(100% - 30%);

}
a{
  text-decoration: none;
  color: rgb(241,180,9);
  font-weight: 800;
}
button, .exsist{
  margin-left: 25px;
}
span{
  position: absolute;
  color: red;
  font-size: 10px;
  margin-left: 14px;
  top: calc(100% - 38%);
}
input[type="text"]:focus,input[type="email"]:focus{
  outline:none;
  border: 3px solid rgb(241,180,9);
  border-radius: 5px;
  box-shadow: 1px 2px 8px #8d8a8a;
}
